:host {
  display: flex;
  flex-direction: row;
  margin: 5em 0 0 10em;

  .title {
    font-size: 2.7em;
    margin-bottom: 1em;
    //font-weight: bold;
  }

  .explanation-text{
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  .email-wrapper {
    margin-bottom: 2em;
    width: 20em;
  }

  .email-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.3em;
  }

  .email-input::placeholder{
    text-align: left !important;
    width: 20em;
    color: darkgrey;
  }

  .email-label {
    text-align: left !important;
    width: 20em;
    color: darkgrey;
  }

  .retrieve-password-button {
    display: flex;
    width: auto !important;;
    height: auto !important;
    margin: 0 1em 0 !important;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
    min-width: 3em;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
  }


}

