<div class="flex-column">
  <div class="title">
    Zaboravili ste lozinku?
  </div>

  <div class="explanation-text">
    Ako ste zaboravili lozinku, upišite svoj e-mail <br>
    i poslaćemo vam mail kako da je povratite.
  </div>

  <div class="email-wrapper">
    <input type="text" class="email-input" placeholder="E-mail"
           [(ngModel)]="email"
           (focus)="emailFocus()"
           (focusout)="emailFocusOut()">
    <label *ngIf="emailFocused" class="email-label">Unesite svoj e-mail ovde</label>
  </div>

  <div class="retrieve-password-button"
       (click)="retreivePassword()">
    Povrati lozinku
  </div>

</div>
