<div class="flex-column flex-1">
  <div class="flex-row table-header">
    <div *ngFor="let columnName of columnNames, let i = index"
         class="column-name"
         [ngClass]="{'flex-1': i !== 0}"
         [style.width]="i === 0 ? '250px' : ''"
         [style.margin-right]="i === 0 ? '1em' : ''">
      {{columnName}}
    </div>
  </div>

  <div *ngFor="let data of columnData; let j=index"
       [style.background-color]="(j%2) === 0 ?'#f9fcff':'white'"
       class="flex-row column-data-row">
    <div style="margin-right: 1em">
      <img src="{{ data.img_url }}"
           class="img-fluid zoom"
           alt="smaple image">
    </div>
    <div class="flex-1">
      {{ data.id }}
    </div>
    <div class="flex-1">
      treba dodati na back
    </div>
    <div class="flex-1">
      {{ data.name_seller }}
    </div>
    <div class="flex-column flex-1">
      <div class="order-request-button"
           style="color: green"
           (click)="approveRequest(data)">
        Odobri
      </div>
      <div class="order-request-button"
           style="color: red;"
           (click)="rejectRequest(data)">
        Odbij
      </div>

    </div>
  </div>

</div>










