:host {
  display: flex;
  flex-direction: column;

  .table-header {
    font-size: 1.3em;
    border-bottom: 1px solid darkgrey;
  }

  .column-name {
    font-weight: bold;
    align-self: flex-end;
  }

  .column-data-row {
    font-size: 1.3em;
    border-bottom: 1px solid lightgray;
    padding: 0.2em 0;
  }

  .column-data-row:hover {
    background-color: aliceblue !important;
    cursor: pointer;
  }

  .fixed-width-8 {
    width: 8em;
  }

  @mixin order-request-button( $approve: false) {
    display: flex;
    width: auto !important;;
    height: auto !important;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
    min-width: 3em;
    text-align: center;
    border: 2px solid;
    cursor: pointer;
    user-select: none;
    @if $approve {
      background-color: darkslateblue;
      margin: 0 !important;
    }
    @else {
      background-color: tomato;
      margin: 1em 0 0 0 !important;
    }
  }

  .order-request-button-approved {
    @include order-request-button($approve: true);
  }

  .order-request-button-rejected {
    @include order-request-button($approve: false)
  }

}

