<main class="flex-row">
  <aside class="tabs">
    <div *ngFor="let tab of tabs">
      <div class="tab flex-column"
           (click)="selectTab(tab)"
           [ngClass]="{'selected-tab': tab.name === selectedTab}">
        <span class="typcn" 
              [class]="tab.icon"></span>
        {{tab.name}}
      </div>
    </div>
  </aside>
  <section class="select flex-column">
    <input type="text" 
           *ngIf="selectedTab === 'IMAGES' || selectedTab === 'EMOJIS'"
           id="search" 
           class="search">
    <ng-template [ngIf]="selectedTab === 'TEXT'">
      <h1 class="text-selection">Add Heading</h1>
      <h3 class="text-selection">Add Subheading</h3>
      <p class="text-selection">Add a paragraph</p>
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'IMAGES'">
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'ELEMENTS'">
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'EMOJIS'">
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'DRAW'">
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'UPLOAD'">
    </ng-template>
  </section>
  <section class="editor flex-column">
    <div class="toolbar">
      <ng-template [ngIf]="selectedTab === 'TEXT'">
      </ng-template>
      <ng-template [ngIf]="selectedTab === 'IMAGES'">
      </ng-template>

    </div> 
    <div class="canvas">
      <canvas id="canvas"></canvas>
    </div>
    <div class="buttons"></div>
  </section>
</main>