<main class="flex-row">
  <aside class="tabs">
    <div *ngFor="let tab of tabs">
      <div class="tab flex-column"
           (click)="selectTab(tab)"
           [ngClass]="{'selected-tab': tab.name === selectedTab}">
        <span class="typcn" 
              [class]="tab.icon"></span>
        {{tab.name}}
      </div>
    </div>
  </aside>
  <section class="select flex-column">
    <ng-template [ngIf]="selectedTab === 'TEXT'">
      <h1 (click)="addText('Heading', 'Lato', 32)" class="text-selection">Add Heading</h1>
      <h3 (click)="addText('Subheading', 'Lato', 24)" class="text-selection">Add Subheading</h3>
      <p (click)="addText('Paragraph', 'Lato', 18)" class="text-selection">Add a paragraph</p>
      <div class="fonts">
        <div *ngFor="let font of editorService.fonts">
          <span class="font"
                [ngStyle]="{'font-family': font}"
                (click)="addText(font, font, 24)">
            {{font}}
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'IMAGES'">
      <div class="image-search flex-row">
        <input type="text" 
              id="search" 
              [(ngModel)]=image
              placeholder="Search images on Pexels"
              class="search">
        <button class="search-button"
                (click)="searchImage()" >SEARCH</button>
      </div>
      <div class="images flex-row">
        <div *ngFor="let image of images" 
              class="image">
            <img [src]="image.src" alt=""></div>
      </div>
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'ELEMENTS'">
      <div class="elements">
        <div *ngFor="let element of editorService.elements" class="element">
          <div class="icon"
               (click)="addElement(element.url)"
               [ngStyle]="{'mask-image': element.path}"></div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'EMOJIS'">
      <div class="elements">
        <div *ngFor="let element of editorService.emoji" class="element">
          <img class="emoji"
               (click)="addElement(element.url)"
               [src]="element.url"/>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'DRAW'">
    </ng-template>
    <ng-template [ngIf]="selectedTab === 'UPLOAD'">
    </ng-template>
  </section>
  <section class="editor flex-column">
    <div class="toolbar">
      <ng-template [ngIf]="selectedTab === 'TEXT'">
      </ng-template>
      <ng-template [ngIf]="selectedTab === 'IMAGES'">
      </ng-template>

    </div> 
    <div class="canvas">
      <canvas id="canvas" height="400px" width="400px"></canvas>
    </div>
    <div class="buttons"></div>
  </section>
</main>