@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
//handwriting
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
//monospace
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
//serif
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
:host {
  display: flex;
  flex-direction: column;
  main {
    background-color: white;
    color: black;
    height: calc(100vh - 145px); } 
  .tabs {
    width: 5%;
    .tab {
      border-left: 4px solid transparent;
      text-align: center;
      padding: 0.5rem;
      .typcn {
        font-size: x-large;
      }
    }
    .selected-tab {
      border-left: 4px solid black;
    }
    .tab:hover {
        cursor: pointer;
    }
  }

  .select {
    width: 20%;
    border: solid 1px lightgrey;
    border-top: 0;
    align-items: center;
    .text-selection {
      border: solid 1px transparent;
      margin: 1rem 0;
      padding: 1rem;
      font-family: 'Lato';
    }
    .text-selection:hover {
      border: solid 1px lightgrey;
      cursor: pointer;
    }
  }

  .editor {
    width: 75%;
    // border: solid 1px lightgrey;
  }
  
  .elements {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    .element {
      margin: 2rem;
    }
    .element:hover {
      cursor: pointer;
    }
    .icon {
      height: 5rem;
      width: 5rem;
      // mask-image: url("../../assets/phone.svg");
      mask-size: cover;
      background-color: black;
    }

    .emoji {
      height: 5rem;
      width: 5rem;
    }
  }

  .fonts {
    overflow-y: scroll;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    .font {
      font-size: x-large;
    }
    .font:hover {
      cursor: pointer;
    }
  }

  .search {
    width: 80%;
    height: 4rem;
    padding: 0.5rem;
    border: 1px solid lightgray;
    font-size: 1.5rem;
  }

  .image-search {
    width: 80%;
    height: 4rem;
    align-items: center;
    margin-top: 2rem;
    .search-button {
      height: 100%;
      background: white;
      box-shadow: none;
      border: 1px solid lightgray;
      border-left: 0;
    }
  }


}