<div class="flex-row basic-info">
  <img src="/assets/influencer-default.jpg"
       class="img-fluid image-item"
       alt="smaple image">
  <div class="flex-column conditions-wrapper">
    <div class="item-name">
      {{ appModel.user.firstName }}
    </div>
    <div class="condition">
      <div>
        Uslovi
      </div>
      <div class="value">
        {{appModel.user.terms}}%
      </div>
    </div>
    <div class="condition">
      <div>
        Zaradjeno
      </div>
      <div class="value">
        {{appModel.user.influencerEarned}}
      </div>
    </div>
    <div class="condition">
      <div>
        Broj prodanih artikala
      </div>
      <div class="value">
        {{appModel.user.ordersNumber}}
      </div>
    </div>
    <div class="condition">
      <div>
        Datum poslednje isplate:
      </div>
      <div class="value">
        {{appModel.user.last_paid}}
      </div>
    </div>
  </div>
</div>
<div class="flex-row table-header">
  <div *ngFor="let tableDataItem of tableDataHeader;let i = index"
       class="item-margin-right"
       [ngClass]="{'count': i === 0 || i === 2, 'date': i === 4, 'flex-1': i!== 0 && i !== 2 && i !== 4 && i !== 6, 'paid': i === 6, 'text-align-end': i > 2 }">
    {{ tableDataItem }}
  </div>
</div>
<div class="flex-column">
  <div *ngFor="let row of appModel.user.orders"
       class="flex-row table-row">
    <div class="count item-margin-right">
      {{ row.id }}
    </div>
    <div class="flex-1 item-margin-right">
      {{ row.name }}
    </div>
    <div class="count item-margin-right">
      {{ row.amount }}
    </div>
    <div class="flex-1 item-margin-right text-align-end">
      {{ row.prize }}
    </div>
    <div class="date item-margin-right text-align-end">
      {{ row.date }}
    </div>
    <div class="flex-1 item-margin-right text-align-end">
      {{ row.delivered === true ? 'Da' : 'Ne'}}
    </div>
    <div class="paid item-margin-right text-align-end">
      {{ row.paid === true ? 'Da' : 'Ne' }}
    </div>
    <div class="flex-1 item-margin-right text-align-end">
      {{ row.prize * appModel.user.terms/100 }}
    </div>
  </div>
</div>
