:host {
  display: flex;
  flex-direction: column;
  padding: 2em 5em;

  .image-item {
    width: 150px;
    height: 100px;
    margin-right: 3em;
  }

  .explanation {
    font-size: 2em;
    font-weight: bold;
  }

  .influencer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 1em;
  }

}

