<div class="flex-column flex-1">
  <div class="flex-row table-header">
    <div *ngFor="let columnName of columnNames, let i = index"
         class="column-name"
         [ngClass]="{'flex-1': i !== 0 && i !== 1}"
         [style.width]="i === 0 ? '250px' : i === 1 ? '2em' : ''"
         [style.margin-right]="i === 0 ? '1em' : ''">
      {{columnName}}
    </div>
  </div>

  <div *ngFor="let data of columnData; let j=index"
       [style.background-color]="(j%2) === 0 ?'#f9fcff':'white'"
       class="column-data-row">
    <div class="flex-1">
      <div style="margin-right: 1em">
        <img src="{{ data.img_url }}"
             class="img-fluid zoom"
             alt="smaple image">
      </div>
      <div style="width: 2em">
        {{ data.id }}
      </div>
      <div class="column-name">
        {{ data.name }}
      </div>
      <div class="column-name">
        {{ data.id_article }}
      </div>
      <div class="column-name">
        {{ data.amount }}
      </div>
      <div class="column-name">
        {{ data.prize }}
      </div>
      <div class="column-name">
        {{ data.size ? data.size : 'S' }}
      </div>
      <div class="column-name">
        {{ data.date }}
      </div>

      <div class="column-name">
        {{ data.id_influenser }}
      </div>
      <div class="column-name">
        {{ data.name_influenser }}
      </div>
      <div class="column-name">
        {{ data.user }}
      </div>
      <div class="column-name">
        {{ data.address }}
      </div>

      <div (click)="detailsOpened(j)"
           class="flex-1 more-button">
        {{ details[j] === false ? 'More ...' : 'Less' }}
      </div>
    </div>
    <div *ngIf="details[j] === true"
         class="flex-column flex-1 orders">
      <div class="flex-row"
           style="border-bottom: 1px solid lightblue;">
        <div *ngFor="let columnName of columnsInsideOrders, let i = index"
             class="column-name flex-1 flex-row">
          {{columnName}}
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-1"
             [style.color]="data.delivered === true ? 'black' : 'red'">
          {{ data.delivered === true ? 'Isporuceno' : 'Nije isporuceno' }}
        </div>
        <div class="flex-1"
             [style.color]="data.paid === true ? 'black' : 'red'">
          {{ data.paid === true ? 'Placeno' : 'Nije placeno' }}
        </div>
        <div class="flex-1"
             [style.color]="data.status === 'printed' ? 'black' : 'red'">
          {{ data.status === 'printed' ? 'Odstampano' : 'Nije odstampano' }}
        </div>
        <div class="flex-1">
          <div *ngIf="data.approved === 'waiting'">
            Ceka odobrenje
          </div>
          <div *ngIf="data.approved !== 'waiting'">
            <div [style.color]="data.approved === 'approved' ? 'black' : 'red'">
              {{ data.approved === 'approved' ? 'Odobreno' : 'Nije odobreno'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










