<div class="flex-row admin-title">
  ADMIN PANEL
</div>
<div class="flex-row">
  <div class="flex-column side-navigation">
    <div (click)="changeCategory(0)"
         [style.font-weight]="categorySelected === 0 ? 'bold':'normal'"
         [style.color]="categorySelected === 0 ? 'black':'grey'"
         class="side-panel-item zoom">
      Ugovori sa štamparijama
    </div>
    <div (click)="changeCategory(1)"
         [style.font-weight]="categorySelected === 1? 'bold':'normal'"
         [style.color]="categorySelected === 1 ? 'black':'grey'"
         class="side-panel-item zoom">
      Influenseri
    </div>
    <div (click)="changeCategory(2)"
         [style.font-weight]="categorySelected === 2? 'bold':'normal'"
         [style.color]="categorySelected === 2 ? 'black':'grey'"
         class="side-panel-item zoom">
      Status narudžbina
    </div>
    <div (click)="changeCategory(3)"
         [style.font-weight]="categorySelected === 3? 'bold':'normal'"
         [style.color]="categorySelected === 3 ? 'black':'grey'"
         class="side-panel-item zoom">
      Zahtev
    </div>
  </div>
  <div class="flex-column flex-1">
    <app-print-shop-contract *ngIf="categorySelected === 0"></app-print-shop-contract>
    <app-influencer-contract *ngIf="categorySelected === 1"></app-influencer-contract>
    <app-order-status *ngIf="categorySelected === 2"></app-order-status>
    <app-order-request *ngIf="categorySelected === 3"></app-order-request>
  </div>
</div>
