<div class="flex-row admin-title">
  ADMIN PANEL
</div>
<div class="flex-row">
  <div class="flex-column side-navigation">
    <div (click)="changeCategory(0)"
         [style.font-weight]="categorySelected === 0 ? 'bold':'normal'"
      class="category">
      Ugovori sa stamparijama
    </div>
    <div (click)="changeCategory(1)"
         [style.font-weight]="categorySelected === 1? 'bold':'normal'"
         class="category">
      Ugovori sa influenserima
    </div>
    <div (click)="changeCategory(2)"
         [style.font-weight]="categorySelected === 2? 'bold':'normal'"
         class="category">
      Zahtev za stampanje
    </div>
  </div>
  <div class="flex-column">
    <div *ngIf="categorySelected === 0">
      <div class="flex-row">
        <div *ngFor="let tableDataItem of tableDataHeader"
             class="flex-grow-1">
          {{ tableDataItem }}
        </div>
      </div>
      <div class="flex-column">
        <div *ngFor="let data of tableData"
             class="flex-row">
          <div class="flex-grow-1">
            {{ data.date }}
          </div>
          <div class="flex-grow-1">
            {{ data.influencerName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalId }}
          </div>
          <div class="flex-grow-1">
            {{ data.amount }}
          </div>
          <div class="flex-grow-1">
            {{ data.size }}
          </div>
          <div class="flex-grow-1">
            {{ data.prize }}
          </div>
          <div class="flex-grow-1">
            {{ data.color }}
          </div>
          <div class="flex-grow-1">
            {{ data.dateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.stateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.isInfluencerPaid }}
          </div>
          <div class="flex-grow-1">
            {{ data.percentOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.percent }}
          </div>
          <div class="flex-grow-1">
            {{ data.earnedOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.earned }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="categorySelected === 1">
      <div class="flex-row">
        <div *ngFor="let tableDataItem of tableDataHeader"
             class="flex-grow-1">
          {{ tableDataItem }}
        </div>
      </div>
      <div class="flex-column">
        <div *ngFor="let data of tableData"
             class="flex-row">
          <div class="flex-grow-1">
            {{ data.date }}
          </div>
          <div class="flex-grow-1">
            {{ data.influencerName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalId }}
          </div>
          <div class="flex-grow-1">
            {{ data.amount }}
          </div>
          <div class="flex-grow-1">
            {{ data.size }}
          </div>
          <div class="flex-grow-1">
            {{ data.prize }}
          </div>
          <div class="flex-grow-1">
            {{ data.color }}
          </div>
          <div class="flex-grow-1">
            {{ data.dateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.stateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.isInfluencerPaid }}
          </div>
          <div class="flex-grow-1">
            {{ data.percentOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.percent }}
          </div>
          <div class="flex-grow-1">
            {{ data.earnedOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.earned }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="categorySelected === 2">
      <div class="flex-row">
        <div *ngFor="let tableDataItem of tableDataHeader"
             class="flex-grow-1">
          {{ tableDataItem }}
        </div>
      </div>
      <div class="flex-column">
        <div *ngFor="let data of tableData"
             class="flex-row">
          <div class="flex-grow-1">
            {{ data.date }}
          </div>
          <div class="flex-grow-1">
            {{ data.influencerName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalName }}
          </div>
          <div class="flex-grow-1">
            {{ data.articalId }}
          </div>
          <div class="flex-grow-1">
            {{ data.amount }}
          </div>
          <div class="flex-grow-1">
            {{ data.size }}
          </div>
          <div class="flex-grow-1">
            {{ data.prize }}
          </div>
          <div class="flex-grow-1">
            {{ data.color }}
          </div>
          <div class="flex-grow-1">
            {{ data.dateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.stateOfShipping }}
          </div>
          <div class="flex-grow-1">
            {{ data.isInfluencerPaid }}
          </div>
          <div class="flex-grow-1">
            {{ data.percentOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.percent }}
          </div>
          <div class="flex-grow-1">
            {{ data.earnedOfInfluencer }}
          </div>
          <div class="flex-grow-1">
            {{ data.earned }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
