:host {
}
@font-face {
  font-family: 'Modernist';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Sk-Modernist-Regular.otf'); /* IE9 Compat Modes */
  src: local('Modernist Regular'), local('Modernist-Regular')
}
