<div class="d-flex align-items-center justify-content-center profile-title profile-width-100">
  MOJ NALOG
</div>
<div class="d-flex flex-row profile-width-100">
  <div class="d-flex flex-column profile-panel">
    <div class="d-flex profile-panel-title">
      Korisnički panel
    </div>
    <div class="d-flex profile-panel-item zoom">
      Korisnički podaci
    </div>
    <div class="d-flex profile-panel-item zoom">
      Izmena podataka
    </div>
    <div class="d-flex profile-panel-item zoom">
      Promena lozinke
    </div>
    <div class="d-flex profile-panel-item zoom">
      Promena email-a
    </div>
    <div class="d-flex profile-panel-item zoom">
      Preporuke
    </div>
  </div>
  <div class="d-flex flex-column profile-main-content profile-width-100">
    <div class="d-flex flex-row profile-width-100 profile-icons-wrapper">
      <div class="d-flex flex-column profile-icon-wrapper">
        <i class="fa fa-star profile-icon zoom"></i>
        <div class="d-flex profile-icon-title">
          LISTA ŽELJA
        </div>
      </div>
      <div class="d-flex flex-column profile-icon-wrapper">
        <i class="fa fa-truck profile-icon zoom"></i>
        <div class="d-flex profile-icon-title">
          PRETHODNE POŠILJKE
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column">
        <div class="profile-user-data-description">
          Ime i prezime:
        </div>
        <div class="profile-user-data-description">
          Email:
        </div>
        <div class="profile-user-data-description">
          Broj telefona:
        </div>
        <div class="profile-user-data-description">
          Grad:
        </div>
        <div class="profile-user-data-description">
          Postanski broj:
        </div>
        <div class="profile-user-data-description">
          Ulica:
        </div>
        <div class="profile-user-data-description">
          Kućni broj:
        </div>
      </div>

      <div class="d-flex flex-column">
        <div class="profile-user-data">
          {{this.profile.firstName}} {{this.profile.lastName}}
        </div>
        <div class="profile-user-data">
          {{this.profile.eMail}}
        </div>
        <div class="profile-user-data">
          {{this.profile.phoneNumber}}
        </div>
        <div class="profile-user-data">
          {{this.profile.city}}
        </div>
        <div class="profile-user-data">
          {{this.profile.postalCode}}
        </div>
        <div class="profile-user-data">
          {{this.profile.street}}
        </div>
        <div class="profile-user-data">
          {{this.profile.streetNumber}}
        </div>
      </div>
    </div>
  </div>
</div>



