<div class="d-flex align-items-center justify-content-center font-weight-bold cart-title">
  SHOPPING BAG
</div>
<div *ngIf="items.length===0"
     class="shopping-bag-empty-text">
  Vaša korpa je prazna.
</div>
<div class="d-flex flex-column list-items">
  <div *ngFor="let itm of items; let i=index">
      <app-shopping-bag-item
        [itemData]=itm
        (deleteItemEvent)="deteleItem($event)"
      ></app-shopping-bag-item>
  </div>
</div>

<div class="shopping-chart-button-wrapper flex-row">
  <div [routerLink]="items.length===0 ? '' : '/profile'"
       class="shopping-chart-button zoom">
    KUPI
  </div>
  <div *ngIf="items.length!=0"
       class="shopping-chart-button zoom"
       (click)="openModalConfirmDelete()">
    ISPRAZNI KORPU
  </div>
</div>


