:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1.5em;
  border-bottom: 1px solid lightgray;

  .cart-title {
    font-size: 2em;
    align-content: center;
  }

  .shopping-chart-button {
    width: 2em;
    height: 2em;
  }

  .list-item {
    min-width: 36em;
    padding: 2em;
    align-items: center;
  }

  .shopping-cart-details {
    min-width: 10em;
    padding-bottom: 2em;
  }

}
